@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css");

#popup{
    width: 550px;
    height: 250px;
    background-image: 
     url(https://images-na.ssl-images-amazon.com/images/I/31Xl85rQxbL._SY355_.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 5px 3px white;
   }
  #emailId{
    text-align: center;
    position: absolute;
    left: 25%;
    top: 25%;
   }
  .submitId {
    position: relative;
    top: 130px;
    left: 180px; 
   }

/********** Template CSS **********/
:root {
    --primary: #FF3E41;
    --secondary: #51CFED;
    --light: #F8F2F0;
    --dark: #060315;
}

.fw-medium {
    font-weight: 600 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 64px;
    bottom: 8px;
    z-index: 99;
}

/* FAQ */

.box .heading{
    background: #FF3E41;
    border-radius: 7px 7px 0px 0px;
    padding: 10px;
    color: #fff;
    text-align: center;
    font-family: "Rubik";
 }
 
 .faqs{
    padding: 0px 20px 20px;
 }
 
 ::-webkit-details-marker{
    float: right;
    margin-top: 3px;
 }
 
 details{
    background: #ffff;
    color: #000;
    padding: 3px 20px;
    border-radius: 7px;
    margin-top: 20px;
    font-family: "Rubik";
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
 }
 
 details summary{
    color: white;
    outline: none;
    background-color: #FF3E41;
    border-radius: 3px;
    padding-left: 8px;
    padding: 10px 10px;
 }
 p.text {
     background-color: #fff;
     padding-top: 15px;
 }
 
 .section_contact{
     position: absolute; 
     right: 220px; 
     width: 33%;
 }
 
/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 35px;
    height: 35px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
    position: relative;
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

/* FAQ */
.faq-section {
    background: #fdfdfd;
    min-height: 100vh;
    padding: 10vh 0 0;
}
.faq-title h2 {
  position: relative;
  margin-bottom: 45px;
  display: inline-block;
  font-weight: 600;
  line-height: 1;
}
.faq-title h2::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 60px;
    height: 2px;
    background: #E91E63;
    bottom: -25px;
    margin-left: -30px;
}
.faq-title p {
  padding: 0 190px;
  margin-bottom: 10px;
}

.faq {
  background: #FFFFFF;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}

.faq .card {
  border: none;
  background: none;
  border-bottom: 1px dashed #CEE1F8;
}

.faq .card .card-header {
  padding: 0px;
  border: none;
  background: none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.faq .card .card-header:hover {
    background: rgba(233, 30, 99, 0.1);
    padding-left: 10px;
}
.faq .card .card-header .faq-title {
  width: 100%;
  text-align: left;
  padding: 0px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  color: #3B566E;
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
}

.faq .card .card-header .faq-title .badge {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 14px;
  float: left;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  background: #E91E63;
  color: #fff;
  font-size: 12px;
  margin-right: 20px;
}

.faq .card .card-body {
  padding: 30px;
  padding-left: 35px;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  color: #6F8BA4;
  line-height: 28px;
  letter-spacing: 1px;
  border-top: 1px solid #F3F8FF;
}

.faq .card .card-body p {
  margin-bottom: 14px;
}

@media (max-width: 991px) {
  .faq {
    margin-bottom: 30px;
  }
  .faq .card .card-header .faq-title {
    line-height: 26px;
    margin-top: 10px;
  }
}
/* FAQ */
@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar-light .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 5px;
        top: -6px;
        left: 50%;
        background: #FFFFFF;
        transition: .5s;
    }

    .navbar-light .navbar-nav .nav-link:hover::before,
    .navbar-light .navbar-nav .nav-link.active::before {
        width: 100%;
        left: 0;
    }

    .navbar-light .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }

    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }
    
    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .header-carousel .owl-carousel-item h5,
    .header-carousel .owl-carousel-item p {
        font-size: 14px !important;
        font-weight: 400 !important;
    }

    .header-carousel .owl-carousel-item h1 {
        font-size: 30px;
        font-weight: 600;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 45px;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: linear-gradient(rgba(6, 3, 21, .5), rgba(6, 3, 21, .5)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.page-header1 {
    background: linear-gradient(rgba(6, 3, 21, .5), rgba(6, 3, 21, .5)), url(../img/home.jpg) center center no-repeat;
    background-size: cover;
}
.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}


/*** About ***/
@media (min-width: 992px) {
    .container.about {
        max-width: 100% !important;
    }

    .about-text  {
        padding-right: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (max-width: 568px) {
    .position-absolute.top-0.start-0.w-100.h-100.d-flex.align-items-center {
        display: block !important;
    }
    .flex-col-7.is-relative.is-centered.parent-sliding-video.js-video-container.with-mb-32.video-start {
        width: 100%;
        margin: 0 0 0 0px;
    }
    .container-sliding-hiw {
        transform: translate(0px, 0px)!important;
    }
}
@media (max-width: 468px) {
    .section_contact {
        position: absolute;
        right: 25px;
        width: 90%;
        top: 38%;
    }
    .b24-form-header {
        padding: 10px 31px 5px;
    }
    .py-5 {
        padding-top: 4rem !important;
        padding-bottom: 3rem !important;
    }
    .changing-text {
        padding-top: 280px;
    }
    .comment_user img {
        width: 55px!important;
        top: -7px!important;
        right: 130px!important;
    }

    .comment_user img.review {
        width: 58px!important;
        top: 5px!important;
        right: 130px!important;
        }

    div#one {
        /* background-image: url(../img/mobile1.jpg); */
        background-position: center;
        background-size: cover;
        background-size: cover;
    }

    div#two {
        /* background-image: url(../img/mobile2.jpg); */
        background-position: center;
        background-size: cover;
        background-size: cover;
    }

    div#three {
        /* background-image: url(../img/mobile3.jpg); */
        background-position: right;
        background-size: cover;
        background-size: cover;
    }
}
@media (max-width: 768px) {
    .container-sliding-hiw {
        transform: translate(0px, 0px)!important;
    }
    .hiw-cta-wrap.flex-grid {
        display: flex !important;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }
     section.faq-section img{
        display: none;
    }

    .section_contact {
        display: none;
    }
    /*
    .col-lg-6.pe-lg-0.wow.fadeInRight img {
        display: none;
    } */
    .section_contact {
        right: 21px;
    }
    .changing-text {
        font-size: 30px;
    }
    .fs-5 {
        font-size: 16px !important;
    }
    .comment_user img {
        width: 75px!important;
        top: 38px!important;
        right: 85px!important;
        }

    .comment_user img.review {
        width: 100px!important;
        top: 50px!important;
        right: 74px!important;
        }
    
}

@media (max-width: 1200px) {
    .about-text  {
        padding-right: calc(((100% - 1140px) / 2) + .75rem);
    }
    .comment_user img {
        width: 55px!important;
    top: -7px!important;
    right: 130px!important;
        }

    .comment_user img.review {
        width: 58px!important;
        top: 5px!important;
        right: 120px!important;
        }
}

@media (min-width: 1200px) {
    .about-text  {
        padding-right: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .about-text  {
        padding-right: calc(((100% - 1320px) / 2) + .75rem);
    }
}


/*** Feature ***/
@media (min-width: 992px) {
    .container.feature {
        max-width: 100% !important;
    }

    .feature-text  {
        padding-left: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .feature-text  {
        padding-left: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .feature-text  {
        padding-left: calc(((100% - 1320px) / 2) + .75rem);
    }
}


/*** Service, Price & Team ***/
.service-item,
.price-item,
.team-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.023);
    transition: all 0.5s;
}

.team-item:hover {
    box-shadow: 0 0 25px rgba(1, 1, 1, 0.264);
}

.service-item img,
.team-item img {
    transition: .5s;
}

.service-item:hover img,
.team-item:hover img {
    /* transform: scale(1.1); */
}

.service-item a.btn-slide,
.price-item a.btn-slide,
.team-item div.btn-slide {
    position: relative;
    display: inline-block;
    overflow: hidden;
    font-size: 0;
}

.service-item a.btn-slide i,
.service-item a.btn-slide span,
.price-item a.btn-slide i,
.price-item a.btn-slide span,
.team-item div.btn-slide i,
.team-item div.btn-slide span {
    position: relative;
    height: 40px;
    padding: 0 15px;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 0 35px 35px 0;
    transition: .5s;
    z-index: 2;
}

.team-item div.btn-slide span a i {
    padding: 0 10px;
}

.team-item div.btn-slide span a:hover i {
    background: var(--secondary);
}

.service-item a.btn-slide span,
.price-item a.btn-slide span,
.team-item div.btn-slide span {
    padding-left: 0;
    left: -100%;
    z-index: 1;
}

.service-item:hover a.btn-slide i,
.price-item:hover a.btn-slide i,
.team-item:hover div.btn-slide i {
    border-radius: 0;
}

.service-item:hover a.btn-slide span,
.price-item:hover a.btn-slide span,
.team-item:hover div.btn-slide span {
    left: 0;
}

.service-item a.btn-slide:hover i,
.service-item a.btn-slide:hover span,
.price-item a.btn-slide:hover i,
.price-item a.btn-slide:hover span {
    background: var(--secondary);
}


/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-item {
    position: relative;
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    animation: pulse 1s ease-out .5s;
}

.testimonial-carousel .owl-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: var(--primary);
    border: 5px solid var(--light);
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--light);
    border-color: var(--primary);
}


/*** Contact ***/
@media (min-width: 992px) {
    .container.contact-page {
        max-width: 100% !important;
    }

    .contact-page .contact-form  {
        padding-left: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .contact-page .contact-form  {
        padding-left: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .contact-page .contact-form  {
        padding-left: calc(((100% - 1320px) / 2) + .75rem);
    }
}


/*** Footer ***/
.footer {
    background: linear-gradient(rgba(6, 3, 21, .5), rgba(6, 3, 21, .5)), url(../img/map.png) center center no-repeat;
    background-size: cover;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}


/*----------------------css-16-12-2022------------------------------*/
.top_detsection {
	margin-top: 0;
	min-height: 750px;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	display: flex;
	align-items: center;
	padding: 70px  0!important;
	padding-bottom: 130px !important;
	justify-content: center;
}
.top_detsection img {
	width: 100%;
	height: 580px;
	object-fit: cover;
}

.blog_dettilesec {
	margin-top: -90px;
}

.top_bgsec{
	margin-top: -120px;
}
.top_bgsec .box{
	border-radius: 30px;
	padding: 35px 35px 0;
	background: #fff;
	box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
}
.blog_cont:not(.top_bgsec) .bolg_cattag{
	border-radius: 30px;
	padding: 35px 35px 0;
	background: #fff;
	box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
}
.top_bgsec h1 {
    margin: 0;
	font-size: 36px;
	font-weight: 800;
	margin-bottom: 15px;
	color: #3b3b3b;

}

.top_bgsec h2 {
	font-weight: 400;
	line-height: 35px;
	font-size: 24px;
	margin-top: 30px;
	margin-bottom: 20px;
	padding-top: 0;
	color: #3b3b3b;
}

.top_bgsec p {
	font-size: 20px;
	color: #707070;
	margin-bottom: 0 !important;

}
.bolg_cattag{
	position: relative;
}


.bolg_cattag>ul:not(.home_breadcrumb),
.sub_categories>ul {
	text-align: center;
	margin-bottom: -20px;
	display: flex;
	flex-wrap: wrap;
}



.home_breadcrumb>li {
	display: inline-block;
	position: relative;
}

.home_breadcrumb>li+li {
	padding-left: 20px;
}

.home_breadcrumb>li+li::before {
	content: '/';
	position: absolute;
	left: 5px;
	color: #b3b3b3;
	top: 2px;
}
.bolg_cattag:not(.authpage_tag) {
    border-top: 1px solid #eee;
    margin-top: 50px;
    padding-top: 25px;
}
.home_breadcrumb>li>a.current {
    color: #eb0028;
    font-weight: 600;
}

.home_breadcrumb>li:last-child>a {
    pointer-events: none;
}
.home_breadcrumb {

    margin-bottom: 30px;
    text-align: left;
	padding-bottom:20px;
}
.home_breadcrumb>li>a {
	font-weight: 400;
	font-size: 16px;
	text-align: left;
	transition: .3s ease-in-out;
	color: #b3b3b3;
    text-decoration: none;
}
.home_breadcrumb>li:last-child>a{
	pointer-events: none;
    color: #eb0028;
}
.home_breadcrumb>li>a:hover {
	color: #eb0028 !important;
}

.home_breadcrumb>li>a i {
	padding-right: 5px;
}

.home_breadcrumb>li>a i {
	font-size: 12px;
}
.sub_categories>ul {
	text-align: left;
}

.bolg_cattag>ul:not(.home_breadcrumb)>li,
.sub_categories>ul>li {
	padding-right: 20px;
	padding-bottom: 20px;
}
.bolg_cattag>ul:not(.home_breadcrumb)>li:not(.search)>a,
.sub_categories>ul>li a {

	padding: 10px 25px;
	display: block;
	border-radius: 100px;
	background: #F9F9F9;
	font-weight: normal;
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
	transition: .3s ease-in-out;
	color: #3b3b3b;
    text-decoration: none;
    border: 0px;
}
.bolg_cattag>ul:not(.home_breadcrumb)>li>a.active, .sub_categories>ul>li>a.active {
    background: #eb0028!important;
    color: #fff;
    font-weight: 700;
}
.bolg_cattag>ul:not(.home_breadcrumb)>li:not(.search)>a:hover {
    background: #eb0028;
    color: #fff;
}
.bolg_cattag .search_box {
    padding: 15px 35px;
    border-radius: 0px 0px 30px 30px;
    background: #f9f9f9;
    margin: 0 -35px;
    margin-top: 25px;
}
.bolg_cattag .search_box .form-group {
    position: relative;
    margin-bottom: 0 !important;
}
.bolg_cattag .search_box .form-control {
	height: 70px;
	border: 0;
	box-shadow: none;
	border-radius: 100px;
	padding: 0 30px;
	font-size: 20px;
	width: 100%
}
.bolg_cattag .search_box.show .form-control{
	border-radius: 25px 25px 0 0;
}

.bolg_cattag .search_box .form-control:active,
.bolg_cattag .search_box .form-control:focus {
	outline: 0;
	box-shadow: none;
}

.bolg_cattag .search_box .form-control::placeholder {
	font-size: 20px;
}
.bolg_cattag .search_box .form-group > a {
	position: absolute;
	right: 10px;
	top: 50%;
    text-decoration: none;
	transform: translateY(-50%);
	width: 55px;
	height: 55px;
	background: #eef3fc;
	display: flex;
	color: #eb0028;
	align-items: center;
	justify-content: center;
	border-radius: 100px;
	transition: .3s ease-in-out;
}

.bolg_cattag .search_box .form-group >a:hover {
	background: #eb0028 !important;
	color: #fff !important;
}
.blog_card {
	overflow: hidden;
	border-radius: 8px;
	background: #fff;
	box-shadow: 0px 0px 20px rgba(59, 59, 59, 0.16);
	margin-top: 30px;
}

.blog_card figure {
	position: relative;
}

.blog_card figure::before {
	content: '';
	position: absolute;
	height: 50px;
	width: 50px;
	border-radius: 100%;
	background: #1f1f1f;
	opacity: 0;
	right: 0;
	z-index: 8;
	bottom: 0;
	transition: .3s ease-in-out;
}

.blog_card:hover figure::before {
	height: 100%;
	width: 100%;
	border-radius: 0;
	opacity: 0.37;
}

.blog_card figure img {
	height: 265px;
	width: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: center;
	   object-position: center;
}
.Homeblog_sect {
    margin: 50px 0;
    margin-bottom: 100px;
}
.blog_card figure .tag {
	position: absolute;
	bottom: -10px;
	left: 20px;
	color: #fff;
	padding: 2px 10px;
	border-radius: 5px;
	background: linear-gradient(#007bff 0%, #64a0ff 100%);
	z-index: 99;
	transition: .3s ease-in-out;
	max-width: 185px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.blog_card:hover figure .tag{
	bottom: 15px;
}

.blog_card figure .share {
	position: absolute;
	top: 15px;
	z-index: 99;
	min-width: 45px;
	right: 15px;
	opacity: 0;
	visibility: hidden;
	transition: .3s ease-in-out;
	pointer-events: none;
}

.blog_card:hover figure .share {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
}

.blog_card figure .share>a {
	width: 36px;
	height: 36px;
	margin-left: auto;
	border-radius: 12px;
	background: #fff;
	display: block;
	text-align: center;
	line-height: 36px;
	color: #1f1f1f;
}

.blog_card figure .share>ul {
	position: absolute;
	top: -2px;
	right: 6px;
	opacity: 0;
	transition: .3s ease-in-out;
	border-radius: 50px;
	display: grid;
	gap: 2px;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	background: rgba(255, 255, 255, 0.86);
	padding: 3px 5px;
	height: 41px;
}

.blog_card figure .share:hover>ul {
	right: 45px;
	opacity: 1;
}

.blog_card figure .share>ul::before {
	content: '';
	position: absolute;
	right: -7px;
	top: 50%;
	transform: translateY(-50%) rotate(90deg);
	-webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	height: 8px;
	background: rgba(255, 255, 255, 0.86);
	width: 8px;
}

.blog_card figure .share>ul>li a {
	height: 0;
	width: 0;
	text-align: center;
	line-height: 35px;
	display: block;
	border-radius: 100px;
	color: #1F1F1F;
	opacity: 0;
	transition: .2s ease-in-out;
}

.blog_card figure .share:hover>ul>li a {
	opacity: 1;
	height: 35px;
	width: 35px;
}

.blog_card figure .share>ul>li a:hover {
	color: #fff;
}

.blog_card figure .share>ul>li:nth-child(1) a {
	transition-delay: 0.45s;
}

.blog_card figure .share>ul>li:nth-child(2) a {
	transition-delay: 0.4s;
}

.blog_card figure .share>ul>li:nth-child(3) a {
	transition-delay: 0.35s;
}

.blog_card figure .share>ul>li:nth-child(4) a {
	transition-delay: 0.3s;
}

.blog_card figure .share>ul>li:nth-child(5) a {
	transition-delay: 0.25s;
}

.blog_card figure .share>ul>li:nth-child(6) a {
	transition-delay: 0.2s;
}

.blog_card figure .share>ul>li:nth-child(7) a {
	transition-delay: 0.15s;
}

.blog_card figure .share>ul>li:nth-child(8) a {
	transition-delay: 0.1s;
}


.blog_card figure .share>ul>li:nth-child(1) a:hover {
	background: #4267b2;
	transition-delay: 0s;
}

.blog_card figure .share>ul>li:nth-child(2) a:hover {
	background: #1DA1F2;
	transition-delay: 0s;
}

.blog_card figure .share>ul>li:nth-child(3) a:hover {
	background: #c8232c;
	transition-delay: 0s;
}

.blog_card figure .share>ul>li:nth-child(4) a:hover {
	background: #0e76a8;
	transition-delay: 0s;
}

.blog_card figure .share>ul>li:nth-child(5) a:hover {
	background: #25D366;
	transition-delay: 0s;
}

.blog_card figure .share>ul>li:nth-child(6) a:hover {
	background: #eb4924;
	transition-delay: 0s;
}

.blog_card figure .share>ul>li:nth-child(7) a:hover {
	background: #FF5700;
	transition-delay: 0s;
}

.blog_card figure .share>ul>li:nth-child(8) a:hover {
	background: #00aff0;
	transition-delay: 0s;
}

.blog_card figure .blog_counts {
	position: absolute;
	bottom: 15px;
	right: 15px;
	z-index: 99;
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
	transition: .3s ease-in-out;
}

.blog_card:hover figure .blog_counts{
	opacity: 1;
	visibility: visible;
	pointer-events: all;
}

.blog_card figure .blog_counts > li{
	display: inline-block;
}
.blog_card figure .blog_counts > li + li{
	margin-left: 20px;
}
.blog_card figure .blog_counts > li a{
	color: #fff;
	font-weight: 700;
	font-size: 12px;
}
.blog_card figure .blog_counts > li a.active i{
	color: #f70000;
}
.blog_card figure .blog_counts > li a:hover{color: #f70000;text-decoration: none;}
 .blog_card .blog_dets {
	padding: 20px;
}

.blog_card .blog_dets>h4 {
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 15px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.blog_card .blog_dets>h4 a {
	color: #1F1F1F;
	transition: .3s ease-in-out;
}

.blog_card .blog_dets>h4 a:hover {
	color: #f70000;
}

.blog_card .blog_dets>ul>li {
	display: inline-block;
}

.blog_card .blog_dets>ul>li img {
	height: 35px;
	width: 35px;
    border-radius: 100%;
}

.blog_card .blog_dets>ul>li>a {
	font-weight: 600;
	font-size: 12px;
	padding-left: 8px;
	text-transform: uppercase;
	color: #3b3b3b;
	transition: .3s ease-in-out;
}

.blog_card .blog_dets>ul>li>a:hover {
	color: #f70000;
}

.blog_card .blog_dets>ul>li+li {
	margin-left: 30px;
}


.blog_dets a,.blog_dets a:hover{text-decoration: none;}
.blog_card .blog_dets>p {
	line-height: 23px;
	color: #707070;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	margin-bottom: 30px;
	margin-top: 20px;
}

.blog_card .blog_dets>a.rd_mr {
	font-weight: 600;
	display: inline-block;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 0.01em;
	color: #f70000;
}

.blog_card .blog_dets>ul>li.autor_name {
    display: flex;
    align-items: center;
}
.blog_card .blog_dets>ul>li.autor_name img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 100px;
}
.blog_card .blog_dets>ul>li>a {
    font-weight: 600;
    font-size: 14px;
    padding-left: 8px;
    white-space: nowrap;
    color: #3b3b3b;
    transition: .3s ease-in-out;
}
.blog_card .blog_dets>ul>li>a span {
    display: block;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 12px;
    text-align: left;
    margin-top: 5px;
    color: #707070;
    transition: .3s ease-in-out;
}
.blog_card .blog_dets>ul>li+li {
    margin-left: 30px;
}
.blog_card .blog_dets>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog_card .blog_dets .rd_mr_btn {
    width: 40px;
    height: 40px;
    background: #eef3fc;
    display: flex;
    color: #f70000;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    padding-left: 0;
}
.blog_card .blog_dets>ul>li>a.rd_mr_btn:hover {
    background-color: #f70000;
    color: #fff !important;
}
.blog_card .blog_dets>ul>li>a:hover{color: #f70000;}
.blog_card .blog_dets>ul>li>a span i{color: #f70000;}

.trending_blog {
	margin-top:50px!important;
	margin-bottom:50px!important;
}

.trending_blog .blog_card {
	display: grid;
    align-items: center;
    background: #f9f9f9;
    border-radius: 10px;
    min-height: 420px;
    padding: 8px;
    margin-top: 30px;
    margin-bottom: 0;
    box-shadow: none;
    grid-template-columns: 50% 50%;
    position: relative;
}

.trending_blog .blog_card .tred_lbl {
	padding: 2px 15px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 12px;
	color: #fff;
	top: 10px;
	border-radius: 100px;
	left: 10px;
	position: absolute;
	background:linear-gradient(#007bff 0%, #64a0ff 100%);
}

.trending_blog .blog_card figure {
	margin: 0;
	height: 100%;
}

.trending_blog .blog_card figure img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 0;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
    max-width: 100%;
    margin: 0;
}

.trending_blog .blog_card .blog_dets {
	padding: 20px;
}

.trending_blog .blog_card .blog_dets .title {
	line-height: 28px;
	margin-bottom: 0;
}

.trending_blog .blog_card .blog_dets>p {
    margin-top: 10px;
    line-height: 24px;
    overflow: inherit;
    display: inline-block;
    margin-bottom: 30px;
}
.latest_blg_slide .owl-nav button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: -50px;
	width: 40px;
	height: 40px;
	background: #eef3fc !important;
	display: flex;
	color: #f70000 !important;
	border: 0;
	align-items: center;
	justify-content: center;
	border-radius: 100px;
	padding-left: 0;
	transition: .3s ease-in-out;
}

.latest_blg_slide .owl-nav button:hover {
	background-color: #f70000 !important;
	color: #fff !important;
}

.latest_blg_slide .owl-nav button.owl-prev {
	left: -50px;
}

.latest_blg_slide .owl-dots {
	text-align: center;
	margin-top: 40px;
}

.latest_blg_slide .owl-dot {
	background-color: transparent;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 18px;
	height: 18px;
	margin: 0 20px;
}

.latest_blg_slide .owl-dots .owl-dot span {
	display: block;
	width: 14px;
	height: 14px;
	border: 2px solid #a5a5a5;
	-webkit-transition: all .3s ease 0s;
	-khtml-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-ms-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
	-webkit-border-radius: 50%;
	-khtml-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

.latest_blg_slide .owl-dots .owl-dot.active span {
	border-color: #f70000;
	transform: scale(1.5);background:#fff;
}

.latest_blg_slide .owl-dots .owl-dot:not(:last-child):after {
	content: "";
	display: block;
	width: 18px;
	height: 2px;
	background-color: #eee;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 20px;
}

.latest_blg_slide .owl-dots .owl-dot:not(:first-child):before {
	content: "";
	display: block;
	width: 18px;
	height: 2px;
	background-color: #eee;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: -20px;
}

.latest_blg_slide .owl-dots .owl-dot.active::after,
.latest_blg_slide .owl-dots .owl-dot.active::before {
	background-color: #f70000;
}

@media(max-width: 575.5px) {



}

.blog_dettilesec .title_sec {
    padding: 35px;
    background: #f9f9f9;
    box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
}
.authors_like .like_dis>ul li a:hover{text-decoration: none;}
.home_breadcrumb>li>a.current {
    color: #f70000;
    font-weight: 600;
}
.authors_like {
    display: flex;
    align-items: center;

    justify-content: space-between;
}
.authors_like .author {
	display: flex;
}

.authors_like .author img {
	height: 50px;
	width: 50px;
	object-fit: cover;
	margin-right: 15px;
    border-radius: 100px;
}

.authors_like .author a {
	font-weight: 700;
	text-decoration: underline;
	font-size: 14px;
	text-align: left;
	color: #f70000;
}
.blog_dettilesec .share_blg {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid #eee;
}

.blog_dettilesec .share_blg {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.blog_dettilesec .share_blg .txt {
	font-weight: 600;
	padding-right: 20px;
	font-size: 18px;
	text-transform: uppercase;
	margin: 0;
	color: #1f1f1f;
}
.share_blg>ul>li a {
   
    background: #f70000;
    color: #fff;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.blog_dettilesec .share_blg .txt small {
    color: #1f1f1f;
}
.blog_dettilesec .share_blg ul {
    margin: 0;
}
.share_blg>ul>li a {
	height: 30px;
	background: #EEF3FC;
	color: #f70000;
	transition: .3s ease-in-out;
	width: 30px;
    display: block;
}

.share_blg>ul>li a:hover {
	color: #fff!important;
	background: #f70000;
}

.share_blg>ul>li {
	padding-right: 8px;
}

.share_blg>ul>li:last-child {
	padding-right: 0;
}
.authors_like .author a i {
	margin-left: 5px;
	font-size: 12px;
}

.authors_like .author span {
	display: block;
	font-size: 12px;
	color: #707070;
	margin-top: 5px;
}

.authors_like .like_dis>ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px 50px;
	align-items: center;
}

.authors_like .like_dis>ul li a {
	font-weight: 700;
	font-size: 19px;
	color: #3b3b3b;
}
.authors_like .like_dis>ul li.exp-active a{
	color: #f70000;
}
.authors_like .like_dis>ul li a:hover{
	color: #2e5aa5;
}
.blog_dettilesec .share_blg {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid #eee;
}

.blog_dettilesec .share_blg {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.blog_dettilesec .share_blg .txt {
	font-weight: 600;
	padding-right: 20px;
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 0;
	color: #1f1f1f;
}

.share_blg>ul>li a {
	height: 30px;
	background: #EEF3FC;
	color: #f70000;
	transition: .3s ease-in-out;
	width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.share_blg>ul>li a:hover {
	color: #fff!important;
	background: #f70000;
}
.share_blg>ul>li{display: inline-block;}
.share_blg>ul>li {
	padding-right: 8px;
}

.share_blg>ul>li:last-child {
	padding-right: 0;
}
.blog_detsmain{
    font-family: 'Poppins', sans-serif !important;
}
.blog_detsmain {
    padding: 70px 0;
}
.blog_detsmain .toc {
	position: relative;
	padding: 25px;
	border: 1px solid #ccc;
    font-family: 'Poppins', sans-serif !important;
	margin-bottom: 40px;
}
.blog_detsmain .toc:not(.toc_c){
	margin-bottom: 30px;
}

.blog_detsmain .toc .title {
    font-weight: 600;
    background: #fff;
    font-size: 24px;
    text-align: left;
    position: absolute;
    padding: 10px 15px;
    top: -33px;
    left: 25px;
    font-family: 'Poppins', sans-serif !important;
    color: #3b3b3b;
}

.blog_detsmain .toc>ul>li {
    font-size: 16px;
    font-weight: 600;
    color: #3b3b3b;
    font-family: 'Poppins', sans-serif !important;
}
.blog_detsmain .toc>ul>li a{text-decoration: none;}
.blog_detsmain .toc>ul>li a {
    font-size: 16px;
    font-family: 'Poppins', sans-serif !important;
    color: #64a0ff;
    font-weight: 500;
}

.blog_detsmain .toc>ul>li ul li {
	margin-top: 12px;
	padding-left: 20px;
}

.blog_detsmain .toc>ul>li+li {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid #eee;
}

.blog_detsmain p {
	margin-bottom: 30px !important;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
	text-align: left;
	color: #3b3b3b;
}
.blog_detsmain p + p{
	margin-top: -15px;
}
.blog_detsmain .gry_box {
	background: #f9f9f9;
	padding: 25px;
	margin-bottom: 30px;
}
.blog_detsmain .gry_box > h2:first-child,
.blog_detsmain .gry_box > h3:first-child,
.blog_detsmain .gry_box > h4:first-child,
.blog_detsmain .gry_box > h5:first-child,
.blog_detsmain .gry_box > h6:first-child{
	margin-top:0
}
.blog_detsmain .gry_box .title_icn {
	font-weight: 700;
	font-size: 24px;
	display: flex;
	align-items: center;
	color: #707070;
	margin-bottom: 20px;
	padding-left: 60px;
	position: relative;
	margin-top: 0;
}
.blog_detsmain .gry_box .title_icn::before{
	font-size: 35px;
	font-family: "Font Awesome 5 Free";
	content:'\f10d';
	top:0;
	left:0;
	position:absolute;
	color: #ccc;
}
.blog_detsmain .gry_box .title_icn i {
	font-size: 35px;
	padding-right: 25px;
	color: #ccc;
}
.blog_detsmain .gry_box p:last-child{
	margin-bottom:0 !important;
}
.blog_detsmain .gry_box>ul>li,
.blog_detsmain .gry_box .list_icn {
	font-weight: normal;
	font-style: italic;
	font-size: 18px;
	line-height: 25px;
	color: #707070;
	padding-left: 20px;
	position: relative;
}

.blog_detsmain .gry_box>ul>li::before,
.blog_detsmain .gry_box .list_icn::before {
	content: '';
	position: absolute;
	top: 8px;
	left: 0;
	border-radius: 100px;
	width: 10px;
	height: 10px;
	background: #ccc;
}

.blog_detsmain .gry_box .title {
	font-weight: 700;
	font-size: 24px;
	color: #1f1f1f;
	margin-bottom: 20px;
}

.blog_detsmain .gry_box>ul>li+li {
	margin-top: 15px;
}

.blog_detsmain .gry_box>ul>li a {
	color: #1f1f1f;
	text-decoration: underline;
}

.blog_detsmain .gry_box>ul>li strong {
	color: #1f1f1f;
	font-weight: 600;
}

.blog_detsmain h2 {
	font-weight: 800;
	font-size: 24px;
	text-align: left;
	margin-bottom: 30px;
	margin-top: 60px;
	color: #3b3b3b;
}

.blog_detsmain h2 a,
.blog_detsmain p a {
	color: #f70000;
	text-decoration: underline;
}

.blog_detsmain p a {
	font-weight: 600;
}

.blog_detsmain p sup {
	color: #f70000;
	font-weight: 700;
	cursor: pointer;
}
.blog_detsmain p sup.check{
	margin-top: -10px;
}

.blog_detsmain img {
	margin-bottom: 30px;
	width: 100%;
	border-radius: 10px;
    height: 550px;
    object-fit: cover;
}

.blog_detsmain h3 {
	font-weight: 800;
	font-size: 24px;
	margin-bottom: 30px;
	color: #3b3b3b;
}
.blog_detsmain h4{
	font-weight: 700;
	font-size: 22px;
	margin-bottom: 30px;
	color: #3b3b3b;
}
.blog_detsmain h5, .blog_detsmain h6{
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 30px;
	color: #3b3b3b;
}
.blog_detsmain .blue{
	color: #f70000;
}
.blog_detsmain .table {
    margin-bottom: 30px;
    border: 0;
}
.blog_detsmain .table th {
	font-weight: 500;
	font-size: 16px;
	border: 0;
	color: #3b3b3b;
	padding: 15px 20px;
    text-transform: capitalize;
    text-align: left;
}
.blog_detsmain .table a:hover {
    text-decoration: none;
    color: #f70000;
}
.blog_detsmain .table td {
	border: 0;
	font-size: 16px;
	padding: 15px 20px;
	color: #707070;
    text-align: left;
}

.blog_detsmain .table tr:nth-child(odd) td,
.blog_detsmain .table tr:nth-child(odd) th {
	background: #f9f9f9;
}
.blog_detsmain table.table tr:nth-child(even) td{background: #fff;}
.blog_detsmain .video_bx video {
    width: 100%;
    border-radius: 15px;
    margin: 30px 0;
}
.related_post {
    background-color: #f9f9f9;
    margin-top: 50px;
    padding: 70px 0;
    margin-top: 0px!important;
}
.related_post .sec_title {
    font-weight: 800;

    font-size: 26px;
    text-transform: uppercase;
    color: #1f1f1f;
}
@media(max-width: 575.5px) {
	.Search_sec .sec_title{
		margin-bottom: 0;
	}
	.top_bgsec .box{
		padding:15px 15px 0;
		border-radius: 0;
	}
	.top_bgsec{
		margin-top: 10px;
	}
	.blog_cont .bolg_cattag, .authpage_tag{
		border-radius: 0;
		padding: 15px 15px 0;
	}
	.bolg_cattag:not(.authpage_tag){
		margin-top:15px;
		padding:0;
		padding-top:15px;
	}
	.blog_cont:not(.top_bgsec) .bolg_cattag{
		padding: 20px 15px 0;
		border-radius: 0;
	}
	.bolg_cattag .search_box{
		margin: 0 -15px;
		padding: 15px;
		border-radius: 0;
		margin-top: 25px;
	}
	.cmnt_logbx p{
		margin-bottom: 10px;
	}
	.detcat_bx{
		padding: 15px;
		min-height: auto;
	}
	.blog_detsmain .gry_box .title_icn i {
		font-size: 25px;
		padding-right: 20px;
	}

	

	.blog_detsmain ul.thumb_lst>li {
		flex-wrap: wrap;
	}

	.authors_like .like_dis>ul {
		grid-template-columns: 50px 50px 50px;
		justify-content: center;
	}

	.blog_detsmain h2 {
		font-size: 24px;
	}

	.blog_detsmain .gry_box .title_icn,
	.blog_detsmain .toc .title,
	.blog_detsmain h3 {
		font-size: 22px;
	}
.blog_detsmain h4{
	font-size:20px;
}
.blog_detsmain h5, .blog_detsmain h6{
	font-size:18px;
}
	.authors_like {
		display: block;
	}

	.authors_like .like_dis>ul {
		margin-top: 20px;
	}

	.authors_like .like_dis>ul li a {
		font-size: 16px;
	}

	.top_detsection img {
		/* margin: 0 -15px; */
		height: auto;
		/* width: calc(100% + 30px); */
	}
	.top_detsection{
		height: 30vh;
		min-height: initial;
		padding: 60px 0 !important;
	}

	
	.share_blg>ul{
		text-align: center;
	}
	.share_blg>ul>li {
		padding-bottom: 8px;
	}
	.blog_card .blog_dets>ul>li.autor_name img {
		height: 40px;
		width: 40px;
	}

	.trending_blog .blog_card .blog_dets {
		padding: 20px 12px 12px 12px;
	}

	.trending_blog .blog_card .blog_dets>ul {
		display: flex;
	}

	.trending_blog .blog_card .blog_dets>ul>li+li {
		margin-top: 0;
	}

	.trending_blog .blog_card {
		display: block;
	}

	.top_bgsec h1 {
		font-size: 26px;
	}

	.sec_title {
		font-size: 20px;
		margin-bottom: 30px;
	}
	.blog_ftrlnks .title{
		font-size:20px;
	}
	.top_bgsec h2 {
		font-size: 18px;
	}

	.top_bgsec p {
		font-size: 16px;
	}

	.blog_card figure img {
		height: 100%;
	}

	.bolg_cattag>ul:not(.home_breadcrumb)>li:not(.search)>a,
	.sub_categories>ul>li a {
		font-size: 14px;
		padding: 8px 15px;
		min-width: 80px;
	}

	.bolg_cattag>ul:not(.home_breadcrumb)>li,
	.sub_categories>ul>li {
		padding-right: 10px;
		padding-bottom: 10px;
	}
	.bolg_cattag .search_box .form-control {
		padding: 0 20px !important;
		height:  60px;
	}

	.bolg_cattag .search_box .form-group >a {
		height: 45px;
		width: 45px;
		right: 10px;
	}
    .latest_blg_slide .owl-nav {
        display: inline-block;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        position: absolute;
        left: 50%;
    }
    .blog_dettilesec .title_sec {
		padding: 15px;
	}

	.blog_dettilesec {
		margin-top: 10px;
	}

	.blog_dettilesec .blog_title {
		font-size: 24px;
	}
	.share_blg>ul{
		text-align: center;
	}
	.share_blg>ul>li {
		padding-bottom: 8px;
	}

	.blog_dettilesec .share_blg {
		display: block;
	}

	.blog_dettilesec .share_blg .txt {
		margin-bottom: 15px;
		display: none;
		font-size: 14px;
	}

	.author_sec .author_det {
		display: block;
	}

	.author_det figure {
		padding: 0;
		text-align: center;
		margin-bottom: 20px;
	}

	.author_det>div {
		text-align: center;
	}

	.blog_card .blog_dets>ul>li.autor_name img {
		height: 40px;
		width: 40px;
	}

	.trending_blog .blog_card .blog_dets {
		padding: 20px 12px 12px 12px;
	}

	.trending_blog .blog_card .blog_dets>ul {
		display: flex;
	}

	.trending_blog .blog_card .blog_dets>ul>li+li {
		margin-top: 0;
	}
    .blog_detsmain img{height: auto;}
	.trending_blog .blog_card {
		display: block;
	}

	.top_bgsec h1 {
		font-size: 26px;
	}

}